		
		<div style="background-color: lightgrey;">
			<div class="container-fluid">
				<div class="container">
					
					<div class="row">
						<div class="col-sm">
							<h6 style="padding-top: 30px;">ABOUT US</h6>
							<p style="padding-top: 20px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
						</div>
						<div class="col-sm">
							<h6 style="padding-top: 30px;">EXPLORE</h6>
							<p style="padding-top: 20px;"><a href="#"><font color="black">Home</font></a></p>
							<p><a href="#"><font color="black">About us</font></a></p>
							<p><a href="#"><font color="black">Services</font></a></p>
							<p><a href="#"><font color="black">Portfolio</font></a></p>
							<p><a href="#"><font color="black">Blog</font></a></p>
						</div>
						<div class="col-sm">
							<h6 style="padding-top: 30px;">BROWSE</h6>
							<p style="padding-top: 20px;"><a href="#"><font color="black">Careers</font></a></p>
							<p><a href="#"><font color="black">Press and Media</font></a></p>
							<p><a href="#"><font color="black">Contact us</font></a></p>
							<p><a href="#"><font color="black">Terms of Service</font></a></p>
							<p><a href="#"><font color="black">Privacy Policy</font></a></p>
						</div>
						<div class="col-sm">
							<h6 style="padding-top: 30px;">CONTACT US</h6>
							<p style="padding-top: 30px;"><a href="#"><b><font color="black">BisLite Inc.</font></b></a></p>
							<p>Always Street 265 0X - 125 - Canada</p>
							<p>Phone: 987-6543-210</p>
							<p>Fax: 987-6543-210</p>
						</div>
						<div class="col-sm">
							<h6 style="padding-top: 30px;">CONNECT WITH US</h6>
							<div class="row">
								<div class="col-sm">
									<a href="#" class="fa fa-facebook"></a>
								</div>
								<div class="col-sm">
									<a href="#" class="fa fa-dribbble"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<a href="#" class="fa fa-linkedin"></a>
								</div>
								<div class="col-sm">
									<a href="#" class="fa fa-skype"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<a href="#" class="fa fa-pinterest"></a>
								</div>
								<div class="col-sm">
									<a href="#" class="fa fa-twitter"></a>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm">
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
						</div>
						<div class="col-sm">
							<font size="7" style="padding-left: 370px;"><b>Bis</b><font color="blue">Lite</font></font>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>