{include file="admin/a_header.tpl"}
	<h2 align="center">Add Category </h2>
	<form method="post" action="admin_categories.php" name="add_category" id="add_category">
		<table width="400" border="0" align="center" cellpadding="5" cellspacing="5" class="edit_table">
			<tr>
				<td>Name:</td>
				<td><input type="text" name="category[name]" id="category[name]" value="" /></td>
			</tr>
			<tr>
				<td>Published:</td>
				<td>
					<input type="radio" name="category[published]" id="category[published]" value="true" />Published
					<br />
					<input type="radio" name="category[published]" id="category[published]" value="false" />Not published
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" name="Submit" class="button_blue" value="Submit" />
					<input type="button" name="Submit2" value="Cancel" onclick="javascript:document.location='admin_categories.php'" />
					<input type="hidden" name="Action" id="Action" value="add_category" />
				</td>
			</tr>
		</table>
	</form>
{include file="admin/a_footer.tpl"}